{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{user.username}} Profile
{% endblock %}

{% block body_block %}

	<h1>{{user.username}} - Profile</h1>
	<form id="user_profile_form" method='POST' action="." enctype="multipart/form-data">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}	
	
		{% for field in form.visible_fields %}
			{{ field.errors }}
		{% endfor %}
	
		{{ form.as_p }}	
		<input type="Submit" name="Submit">
	</form>



{% endblock %}	